<div class="home-content">
    <i class="bx bx-menu"></i>
    @* @{ *@
    @*     while (true) *@
    @*     { *@
    @*         DateTime.Now.ToString("HH:mm:ss"); *@
    @*     } *@
    @* } *@

</div>