@* TODO: Add logic for video galery*@

<div id="screen-saver">
    <div id="screen-saver-content">
        <video autoplay preload loop>
            <source src="@Url.Content("~/RTC-55g.mp4")" type="video/mp4">
        </video>
    </div>
</div>