<div id="screen-saver">
    <div id="screen-saver-content">
        <video autoplay loop>
            @* <source src="@Url.Content("~/RTC-55g.mp4")" type="video/mp4"> *@
            <embed src="@Url.Content("~/RTC-55g.mp4")" type="video/mp4" width="100%" height="100%" />

        </video>
    </div>
</div>