<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
    var title = "ИНСТРУКТАЖИ";
    var picSrc = "/phishing.jpg";
}

<div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>

<div class="container py-2">
    @for (var i = 0; i < 1; i++)
    {
        <div class="cardContainer inactive">
            <div class="card" onclick="redirectToPage('Viewer/phishing')">
                <div class="side front">
                    <div class="img">
                        <img src="@picSrc" alt="Image Title"/>
                    </div>
                    <div class="info">
                        <h2>Фишинг</h2>
                        <p>Данное руководство поможет обезопасить ваши личные и корпоративные данные.</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="/Views/Instructions/Index.cshtml.js" asp-append-version="true"></script>