
@{
    var picSrc = "/phishing.jpg";
}

<div class="container p-0">
    @for (var i = 0; i < 1; i++)
    {
        <div class="cardContainer inactive">
            <div class="card" onclick="redirectToPage('Viewer')">
                <div class="side front">
                    <div class="img">
                        <img src="@picSrc" alt="Image Title"/>
                    </div>
                    <div class="info">
                        <h2>Фишинг</h2>
                        <p>Данное руководство поможет обезопасить ваши личные и корпоративные данные.</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="/Views/Instructions/Instructions.cshtml.js" asp-append-version="true"></script>