@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
</head>
<body>
    <embed src="~/pdf/Phishing.pdf" type="application/pdf" width="100%" height="100%" />
</body>
</html>
