@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
</head>
<body>
    <embed src="~/pdf/Phishing.pdf" type="application/pdf" width="100%" height="100%" />
</body>
</html>
