@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<body>
<object><embed src="@Url.Content("~/pdf/Phishing.pdf")" width="100%" height="100%"/></object>
</body>
