@inject SignInManager<IdentityUser> signInManager
@using Microsoft.AspNetCore.Identity
@model ViewerModel

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
    <link rel="stylesheet" href="~/POSTerminal.styles.css" asp-append-version="true"/>
    
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="mb-0">
@await Html.PartialAsync("_MenuPartialPDF.cshtml")

<section class="home-section z-0">
    <nav class="sticky">
        @await Html.PartialAsync("_NavBar.cshtml")
    </nav>
    <div class="container p-0 ">
        <main role="main" class="p-0">
            @RenderBody()
        </main>
    </div>
</section>
</body>

<footer>
    @await Html.PartialAsync("_ScreenSaver.cshtml")
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="/Views/Shared/_LayoutPDF.cshtml.js" asp-append-version="true"></script>
<script src="/Views/Shared/_ScreenSaver.cshtml.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)