@* @using HttpContext.Session *@

@inject SignInManager<IdentityUser> signInManager
@using Microsoft.AspNetCore.Identity
@model List<MenuItem>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
    <link rel="stylesheet" href="~/POSTerminal.styles.css" asp-append-version="true"/>

    <!-- Boxiocns CDN Link -->
    <!-- TODO: Change to local resource -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="mb-0">
<!-- Sidebar -->
@await Html.PartialAsync("_MenuPartial.cshtml")

<!-- TODO: To center <div class="container"> and <main> -->
<!-- Content section -->
<section class="home-section">
    @* <div class="home-content"> *@
    @*   <i class='bx bx-menu' ></i> *@
    @* </div> *@
    <nav class="sticky">
        <body>@await Html.PartialAsync("_NavBar.cshtml")</body>
    </nav>
    <div class="container ps-5 pe-5">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
</section>
</body>

@section Scripts{
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}

<footer>
    @Html.Partial("~/Views/Shared/_KeyboardPartial.cshtml")
    @await Html.PartialAsync("_ScreenSaver.cshtml")
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="/Views/Shared/_Layout.cshtml.js" asp-append-version="true"></script>
<script src="/Views/Shared/_ScreenSaver.cshtml.js" asp-append-version="true"></script>
<script src="~/js/keyboard.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)