<body>
<div class="home-content">
    <div class="nav-left">
        <i class="bx bx-menu"></i>
        @* <i class="btn far fa-plus"></i> *@
    </div>
    <div class="clock-block">
        <div class="date-time">
            <i class="fa fa-clock mr-2"></i>
            <div class="date" id="dayOfWeek"></div>
            <div class="clock" id="time"></div>
        </div>
    </div>
</div>
<script>
	function clockTimer()
    {
        var date = new Date();
        var time = [date.getHours(),date.getMinutes(),date.getSeconds()]; // |[0] = Hours| |[1] = Minutes| |[2] = Seconds|
        var dayOfWeek = ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"]
        var days = date.getDay();
        
        if(time[0] < 10){time[0] = "0"+ time[0];}
        if(time[1] < 10){time[1] = "0"+ time[1];}
        if(time[2] < 10){time[2] = "0"+ time[2];}
        
        var current_time = [time[0],time[1]].join(':');
        var clock = document.getElementById("time");
        var day = document.getElementById("dayOfWeek");
        
        clock.innerHTML = current_time;
        day.innerHTML = dayOfWeek[days] + ",";
        
        setTimeout(clockTimer, 1000);
    }

    clockTimer();
</script>
</body>

<script src="/Views/Shared/_NavBar.cshtml.js" asp-append-version="true"></script>