<body onload="clockTimer()">
<div class="home-content">
	<div class="nav-left">
		<i class="bx bx-menu"></i>
		@* <i class="btn far fa-plus"></i> *@
	</div>
	<div class="clock-block">
		<div class="date-time">
			<i class='fa fa-clock mr-2'></i>
			<div class="date" id="dayOfWeek"></div>
			<div class="clock" id="time"></div>
		</div>
	</div>
</div>
</body>

<script src="/Views/Shared/_NavBar.cshtml.js" asp-append-version="true"></script>
