@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            @* <div class="card-header"> *@
            @*     <ul class="nav nav-tabs card-header-tabs"> *@
            @*         <h2>Вход</h2> *@
            @*         $1$ <li class="nav-item"> #1# *@
            @*         $1$     <a class="nav-link" href="Login"> #1# *@
            @*         $1$         Log In #1# *@
            @*         $1$     </a> #1# *@
            @*         $1$ </li> #1# *@
            @*     </ul> *@
            @* </div> *@
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}