@{
    Layout = null;
}

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/css/keyboard.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/POSTerminalWebApp.styles.css" asp-append-version="true"/>
    
  <!-- Boxiocns CDN Link -->
  <!-- TODO: Change to local resource -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="row justify-content-center w-100">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            @* <div class="card-header"> *@
            @*     <ul class="nav nav-tabs card-header-tabs"> *@
            @*         <h2>Вход</h2> *@
            @*         $1$ <li class="nav-item"> #1# *@
            @*         $1$     <a class="nav-link" href="Login"> #1# *@
            @*         $1$         Log In #1# *@
            @*         $1$     </a> #1# *@
            @*         $1$ </li> #1# *@
            @*     </ul> *@
            @* </div> *@
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_KeyboardPartial.cshtml")

@section Scripts{
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/keyboard.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)