.line {
    border-bottom: 1px solid rgba(82, 82, 82, 0.5); /* Параметры линии */
}

/*CARDS 1 STYLES*/

h1 + p {
    font-size: 1.8rem;
    padding: 2rem 0 3rem;
}

.main_c {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.wrap {
    /*margin: 0 auto;*/
    /*padding: 20px 0;*/

    transform-style: preserve-3d;
    transform: perspective(100rem);

    cursor: pointer;
}

.container_c {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;

    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 1.6rem;
    padding: 4rem;

    display: flex;
    align-items: flex-end;

    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

    transition: transform .6s 1s;
}

.container_c::before,
.container_c::after {
    content: "";

    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;

    position: absolute;
    z-index: 2;

    opacity: .3;
    transition: .3s;
}

.container_c::before {
    top: 2rem;
    right: 2rem;

    border-bottom-width: 0;
    border-left-width: 0;
}

.container_c::after {
    bottom: 2rem;
    left: 2rem;

    border-top-width: 0;
    border-right-width: 0;
}

.container_c--active {
    transition: none;
}

.container--2 {
    filter: hue-rotate(80deg) saturate(140%);
}

.container--3 {
    filter: hue-rotate(160deg) saturate(140%);
}

.container_c p {
    color: hsla(0, 0%, 100%, .6);
    font-size: 2.2rem;
}

.wrap:hover .container_c::before,
.wrap:hover .container_c::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}


/*CARDS 2 STYLES*/

.cards-list {
    /*display: grid;*/
    place-items: center;
    width: 100%;
    /*margin: 0 auto;*/
    /*display: inline-grid;*/
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-around;
    align-content: space-between;
    position: relative; /* If you want text inside of it */
}

.card {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    /*margin: auto 15px;*/
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    cursor: pointer;
    transition: 0.4s;
    max-height: 300px;
    max-width: 300px;
    border: 0;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.card .card_image {
    width: 100%;
    height: 100%;
}

.card .card_image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: inherit
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/

/*NEWS STYLES*/

/* This pen */
body {
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    /*color: #ffffff;*/
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.dark {
    /*background: #110f16;*/
    background: transparent;
}

.light {
    /*background: #f3f5f7;*/
    /*background: #ffffff;*/
    background: transparent;
    height: 100vh;
}

i {
    padding-right: 7px;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 1rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.postcard.dark {
    background-color: #18151f;
}

.postcard.light {
    background-color: #e1e5ea;
}

.postcard .t-dark {
    color: #18151f;
}

.postcard a {
    color: inherit;
}

.postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .small {
    font-size: 80%;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

/*.postcard .postcard__preview-txt p{*/
/*    margin-bottom: 0 !important;*/
/*}*/

.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: left;
}

.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

.postcard .postcard__tagbox .play {
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 1.3rem;
    }

    .postcard .postcard__tagbox {
        justify-content: start;
    }

    .postcard .postcard__img {
        max-width: 300px;
        max-height: 131px;
        /*max-height: 100%;*/
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 1.5rem;
        width: 100%;
    }

    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 25px;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n + 1) {
        flex-direction: row;
        height: 131px;
    }

    .postcard:nth-child(2n + 0) {
        flex-direction: row;
        height: 131px;
    }

    .postcard:nth-child(2n + 1) .postcard__text::before {
        left: -35px !important;
        transform: rotate(3deg);
    }

    .postcard:nth-child(2n + 0) .postcard__text::before {
        left: -35px !important;
        transform: rotate(3deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark .postcard__text:before {
        background: #18151f;
    }

    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}

/* COLORS */
.postcard .postcard__tagbox .green.play {
    background: rgba(121, 221, 9, 0.5);
    color: black;
    justify-content: flex-end;
}

.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
    justify-content: flex-end;
}

.green .postcard__bar {
    background-color: #79dd09;
}

.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play {
    background: rgba(0, 118, 189, 0.5);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    /*background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);*/
}

.postcard .postcard__tagbox .red.play {
    background: rgba(189, 21, 11, 0.5);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

.red .postcard__title:hover {
    color: #bd150b;
}

.red .postcard__bar {
    background-color: #bd150b;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play {
    background: rgba(189, 187, 73, 0.5);
    color: black;
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49;
}

.yellow .postcard__bar {
    background-color: #bdbb49;
}

.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    .blue:nth-child(2n)::before {
        /*background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);*/
    }

    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}

/* ------- Modal -------- */

.itc-modal {
    --itc-modal-margin: 0.5rem;
}

@media (min-width: 576px) {
    .itc-modal {
        --itc-modal-margin: 1.75rem;
    }
}

.itc-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.itc-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: var(--itc-modal-margin);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%);
    transition: opacity 0.3s ease-in;
}

@media (min-width: 576px) {
    .itc-modal-content {
        max-width: 500px;
        margin: var(--itc-modal-margin) auto;
    }
}

.itc-modal-show .itc-modal-backdrop,
.itc-modal-show .itc-modal-content {
    z-index: 1050;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}

.itc-modal-scrollable {
    height: calc(100% - var(--itc-modal-margin) * 2);
    max-height: 100%;
    overflow: hidden;
}

.itc-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.itc-modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
}

.itc-modal-btn-close {
    float: right;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.itc-modal-btn-close:focus,
.itc-modal-btn-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}

.itc-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: auto;
    overflow-wrap: anywhere;
}

.itc-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

/* ------- Modal -------- */

.itc-modal {
    --itc-modal-margin: 0.5rem;
}

@media (min-width: 576px) {
    .itc-modal {
        --itc-modal-margin: 1.75rem;
    }
}

.itc-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.itc-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: var(--itc-modal-margin);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%);
    transition: opacity 0.3s ease-in;
}

@media (min-width: 576px) {
    .itc-modal-content {
        max-width: 500px;
        margin: var(--itc-modal-margin) auto;
    }
}

.itc-modal-show .itc-modal-backdrop,
.itc-modal-show .itc-modal-content {
    z-index: 1050;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}

.itc-modal-scrollable {
    height: calc(100% - var(--itc-modal-margin) * 2);
    max-height: 100%;
    overflow: hidden;
}

.itc-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.itc-modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
}

.itc-modal-btn-close {
    float: right;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.itc-modal-btn-close:focus,
.itc-modal-btn-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}

.itc-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: auto;
    overflow-wrap: anywhere;
}

.itc-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-card {
    width: auto;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;

    flex: 1 1 auto;
}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
    margin: 0;
}

.article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
}

.article-card .title {
    font-size: 17px;
    color: #fff;
}


.clear {
    clear: both;
}

img {
    max-width: 100%;
    border: 0px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #e73700;
}

h2 {
    /*margin-bottom: 48px;*/
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

h3 {
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 900;
    line-height: 25px;
}

h4 {
    margin: 5px 0 10px 10px;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
}

button {
    outline: none !important;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
    position: relative;
    width: 100%;
}

.line-title::before,
.line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
}

.line-title::before {
    width: 100%;
    background: #f2f2f2;
}

.line-title::after {
    width: 32px;
    background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
    height: 250px;
    max-height: 250px;
}

.game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    /*display: -webkit-box;*/
    width: 4000px !important;
}

.game-section .owl-stage-outer {
    width: 4000px !important;
    border-radius: 16px;
}

.game-section .item {
    margin-right: 1rem;
    width: 265px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #a1a1a1 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.game-section .item.active {
    width: 500px;
    /*box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);*/
    /*-webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);*/
}

.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.6));
}

.game-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}

.game-section .item-desc p {
    font-size: 12px;
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
    font-size: 14px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        margin-bottom: 32px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 17px;
        font-weight: 900;
        line-height: 32px;
    }

    /* -------- Landing page ------- */
    .game-section {
        height: 2rem;
    }

    .game-section .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 100%;
    }

    .game-section .item.active {
        width: 265px;
    }

    .game-section .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        margin-bottom: 32px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 17px;
        font-weight: 900;
        line-height: 32px;
    }

    .line-title {
        width: 330px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 50px 30px 40px;
    }

    .game-section .item {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }

    .game-section .item.active {
        width: 360px;
    }

    .game-section .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 17px;
        font-weight: 900;
        line-height: 24px;
    }

    .line-title {
        width: 250px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 30px 15px 20px;
    }

    .game-section .item {
        margin: 0 10px 40px;
        width: 250px;
        height: 280px;
    }

    .game-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .game-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

.footer {
    background: rgba(228, 233, 247, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    padding: 1.5rem;
    max-height: 131px;
    align-content: center;
    align-items: center;
    justify-content: center;
}