@model NewsItem

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<h2>Новая новость</h2>

<form action="/News/Create" method="post">
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label for="Title">Заголовок:</label>
        <input type="text" id="Title" name="Title" class="form-control" required>
    </div>
    <br/>
    <div class="form-group">
        <label for="Content">Содержание:</label>
        <textarea id="Content" name="Content" class="form-control" required></textarea>
    </div>
    <br/>
    <div class="form-group">
        <label for="PicSrc">Ссылка на изображение:</label>
        <textarea id="PicSrc" name="PicSrc" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Создать</button>
</form>