@page
@model AuthSystem.Areas.Identity.Pages.Account.LoginModel

@* <link rel="stylesheet" href="~/ts/KioskBoard/dist/kioskboard-2.3.0.min.css" /> *@
@* *@
@* <script src="~/ts/KioskBoard/dist/kioskboard-aio-2.3.0.min.js"></script> *@
@* <script src="~/js/KeyboardTerminal.js"></script> *@

@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-10">
        <section>
            <form id="account" method="post">
                <h2>Добро пожаловать!</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control use-keyboard-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Почтовый адрес</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control use-keyboard-input" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3" style="white-space: nowrap">
                    <label asp-for="Input.RememberMe" class="form-label use-keyboard-input">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>

<!-- An example of a textarea element: The keyboard type is "all", the placement is "top", and the availability of the special characters is "true". -->
@* <textarea class="js-virtual-keyboard" data-kioskboard-type="all" data-kioskboard-placement="bottom" data-kioskboard-specialcharacters="true" placeholder="Your Address"></textarea> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
