* {
    display: block;
    /*Убрать полосу прокрутки для всей страницы*/
    ::-webkit-scrollbar {
        width: 0;
    }
}

html {
    font-size: 14px;
    position: relative;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}