@using POSTerminal.Services
@model AboutItem

@inject IAboutService AboutService

@{
    var title = "Музей ЦНИИ РТК";
}

<head>
    <meta charset="UTF-8">
</head>

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>

<div class="container py-2">
    <section style="max-width: 100%;">
        <div class="container-sm">
            @if (User.Identity.Name == "admin@rtc.ru")
            {
                @using (Html.BeginForm("SaveContent", "Museum", FormMethod.Post))
                {
                    <form id="saveForm" method="post">
                        <button id="btnSave" type="submit" class="btn btn-primary">Сохранить</button>
                        <br/>
                        <br/>
                        @* <textarea name="content" id="content" style="display: none;"></textarea> *@
                        @* <div class="editor"></div> *@

                        <body data-editor="ClassicEdit" data-collaboration="false" data-revision-history="false">
                        <div class="centered">
                            <div class="row row-editor">
                                <div class="editor-container">
                                    <textarea name="content" id="content" style="display: none;"></textarea>
                                    <div class="editor">

                                    </div>
                                </div>
                            </div>
                        </div>
                        </body>
                    </form>
                    <button id="btnSave" type="submit" class="btn btn-primary">Сохранить</button>
                }
                <br/>
                <br/>
            }

            @Html.Raw(ViewBag.Content)
        </div>
    </section>
</div>

<script src="~/modules/ckeditor5-doc/build/ckeditor.js"></script>
@* <script src="~/modules/ckeditor5-custom/build/ckeditor.js"></script> *@
@* <script src="~/modules/ckeditor5-41.0.0/build/ckeditor.js"></script> *@

<script src="/Views/About/Index.cshtml.js" asp-append-version="true"></script>

@section Scripts
{
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'))
            .then(editor => {
                // Синхронизация содержимого редактора с textarea при каждом изменении
                editor.model.document.on('change:data', () => {
                    document.querySelector('#content').value = editor.getData();
                });

                // Установка начального содержимого из textarea в редактор
                editor.setData(`@Html.Raw(ViewBag.Content)`);

            })
            .catch(error => {
                console.error(error);
            });
    </script>
}