@using POSTerminalWebApp.Services
@using Westwind.AspNetCore.Markdown
@inject IJobsService AboutService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<div class="container py-2">
    @foreach (var jobsItem in AboutService.getJobs())
    {
        @Markdown.ParseHtmlStringFromFile(Url.Content(jobsItem.Content))
    }
</div>