@model POSTerminalWebApp.Models.NewsItem

<h2>Create News</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Content">Content:</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="PicSrc">PicSrc:</label>
        <input asp-for="PicSrc" class="form-control" />
        <span asp-validation-for="PicSrc" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Tags">Tags:</label>
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    
    @* <div class="form-group"> *@
    @*     <label asp-for="TimeToRead">TimeToRead:</label> *@
    @*     <input asp-for="TimeToRead" class="form-control" /> *@
    @*     <span asp-validation-for="TimeToRead" class="text-danger"></span> *@
    @* </div> *@
    
    <div class="form-group">
        <label asp-for="PublishDate">PublishDate:</label>
        <input asp-for="PublishDate" class="form-control" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}